@mixin reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f1f8fc;
}

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

@mixin center-responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

@mixin textcolor1 {
    color:#0074c7;
}

@mixin textcolor2 {
    color: #384050;
}

@mixin textcolor3 {
    color: #00497c;
}