@import '_mixins.scss';

*,
::before,
::after {
  @include reset;
}

@font-face {
  font-family: 'Graphik';
  src: url('./Fonts/GraphikCompact-Regular-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Graphik', sans-serif;
}

.header {
  position: fixed;
  z-index: 1000;
}

.header {
  nav {
      display: flex;
      justify-content: space-between; 
      align-items: center; 
      padding: 15px 25px;
      box-shadow: inset 0px -1px 0px #384050;
      width: 100%;

      .nav-icon {
        height: 25vh;
        width: auto;
        max-width: 50%;
        text-align: left;

        .img-header {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      

      .header-left {
        width: 50%; 
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        flex-grow: 1; 
      }
    }
  }

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  box-shadow: inset 0px -1px 0px #384050;
}


.nav-icon{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.search-icon {
  border: none;
  color: #0074c7;
}

.navlinks-container a {
  margin: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #384050;
  display: inline-block;
  position: relative;
}

.navlinks-container a:hover {
  color: #82b864;
}

.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: #82b864;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1);
}

.navlinks {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: space-between;
}

#search {
  font-size: 36px;
}

@media (max-width: 900px) {
  .img-header {
    
    object-fit: contain;
    text-align: left;
  }

  .header {
    width: 100%;
  }

  nav {
    padding: 15px 20px;
    position: relative;
    width: 100%;
  }

  .nav-icon {
    margin: 0 auto;
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-right: 20px; 
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px; 
  }

  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #0074c7;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }

  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out ;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px) ;
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    border-bottom: 1px solid #384050;
    line-height: 2;
    padding-top: 20px;
    padding-left: 45%;
    transform: translateY(-100%);
    width: 100%;
    z-index: -1;
  }

  .navlinks-container.open {
    text-align: center;
    padding-top: 5vh;
  }

  .open {
    transform: translate(0%);
    z-index: 10;
  }

  #search {
    font-size: 22px;
  }
}

// Mise en page du Footer

.adress {
  @include center;
  background-color: #0074c7;
  padding-top: 15px;
  
  p {
    color: #f1f8fc;
    background-color: #0074c7;
  }

  a {
    color: #f1f8fc;
    text-decoration: none;
  }
}

.legalesPages {
  @include center-responsive;
  background-color: #0074c7;

  a {
    margin: 10px 20px;
    text-decoration: none;
    color: #f1f8fc;
  }
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialLinks a {
  @include textcolor2;
  margin: 10px 10px; 
  font-size: 28px;
}

// mise en page de Home

.tuto {
  justify-content: center;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 5vh;
  border: 2px solid #0074c7;
  border-radius: 10px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

h1 {
  color: #0074c7;
}

li {
  @include textcolor2;
  margin-bottom: 1rem;  
}

@media (max-width: 900px) {
  .tuto {
    max-width: 80%;
  }
}


// Mise en page du composant artisan

.artisan-card {
  padding: 5vh 5vw;
}

.artisan-card:hover,
.artisan-link:hover {
  @include textcolor3;
  text-decoration: none;  
}

.titleCard {
  @include textcolor1;
  justify-content: center;
}

.fas.fa-star {
  @include textcolor1;
}

.artisan {
  margin: 2vh 2vw;
  padding: 2vh 2vw;
  border: 2px solid #0074c7;
  border-radius: 5px;
  overflow: hidden;
}


// Mise en page du composant Notfound

.page-notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.img-pagenotfound {
  width: 80%; 
  max-width: 600px;
  display: block; 
  margin: 0 auto; 
}

.text-pagenotfound {
  @include textcolor1;
  font-size: 3rem; 
  margin-top: 20px;
  text-align: center; 
}


// Mise en page du composant ArtisanDetails

.artisanDetails {
  width: 80%;
  margin: auto; 
  margin-top: 5vh; 
  padding-bottom: 10vh;
}

h2 {
  @include textcolor1;
  padding-bottom: 4vh;
}

h3 {
  @include textcolor2;
}

h4 {
  @include textcolor3;
}

.container {
  border: 2px solid #0074c7;
  border-radius: 10px;
  padding: 20px;
}

.mb-auto {
  border: 1px solid #0074c7;
  border-radius: 10px;
  padding: 15px;
}

.artisanSiteWeb {
  color: #f1f8fc;
  background-color: #0074c7;
  border: 1px solid #00497c; 
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px 20px;
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer; 
}

.artisanSiteWeb:hover {
  background-color: #00497c;
}



.btn-success {
  background-color: #82b864;
  color: #f1f8fc;
  
}

// Mise en page Recherche Artisan

.searchArtisan {
  text-align: center;
}

.search-input {
  width: 80%;
  border: none;
  padding: 10px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  border-right: 2px solid #0074c7;
  border-bottom: 2px solid #0074c7;
}

.search-input::placeholder {
  text-align: center;
}

input:focus {
  outline: none;
}