@import '_mixins.scss';

*,
::before,
::after {
  @include reset;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  box-shadow: inset 0px -1px 0px #c5c5c6;
}

.img-header {
  max-width: 20vw;
  max-height: 20vh;
  object-fit: contain;
}

.nav-icon{
  display: flex;
  align-items: center;
  text-decoration: none;
}



.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #384050;
  display: inline-block;
  position: relative;
}

.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: #384050;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1);
}

@media (max-width: 900px) {
  .img-header {
    width: 25vw;
    height: 15vh;
    object-fit: contain;
  }

  nav {
    padding: 15px 20px;
    position: relative;
  }

  .nav-icon {
    margin: 0 auto;
  }

  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #0074c7;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }

  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out ;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px) ;
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    border-bottom: 1px solid #384050;
    line-height: 2;
    padding-top: 20px;
    padding-left: 45%;
    transform: translateY(-100%);
    width: 100%;
    z-index: -1;
  }

  .open {
    transform: translate(0%);
  }
}
